<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1> Login Page </h1>
        <form action="/logincheck/" method="post">
            {% csrf_token %}
            <table >
                <tr>
                    <td> <input type="text" name="uname" placeholder="Username" required></td>
                </tr>
                <tr>
                    <td> <input type="password" name="upass" placeholder="Password" required></td>
                </tr>
                                <tr>
                    <td> <input type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
</body>
</html>