<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <table align="center">
        <tr>
            <th>
                <a href="/selectproduct/">
                    Select product
                </a><br>
                <a href="/login/">
                    Login
                </a>
            </th>
        </tr>
        <tr>
            <th>
                <a href="/register/"> Register </a>
            </th>
        </tr>
        </table>
</body>
</html>
