<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    {% load staticfiles %}
</head>
<body>
    <table align="center">
        <tr>
            <th width="800px" height="80px" bgcolor="aqua">
                WELCOME TO MY WORLD
            </th>
        </tr>
        <tr align="center"><td colspan="2">
            <img align="center" width="800px" src="{% static 'images/my.jpg' %}">
        </td>
        </tr>

        <tr>
            <td align="center"><font size="5" >
               <a href="/login/"> Logout </a>
            </font>
            </td>
        </tr>
    </table>

</body>
</html>
