<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
        <table align="center">
            <tr>
                <th colspan="4" width="500" height="80" bgcolor="#8a2be2">
                    <font color="white" face="Arial" size="5">
                        Welcome
                    </font>
                </th>
            </tr>
            <tr>
                <th colspan="4" width="500" height="30" bgcolor="#a52a2a">
                    <font color="white" face="Arial" size="3">
                        {{ emp.name }}
                    </font>
                </th>
            </tr>
            <tr bgcolor="#7fff00">
                <td align="center">
                    <a href="/viewprofile/?uname={{ emp.username }}">
                        View Profile
                    </a>
                </td>
                <td align="center">
                    <a href="/updateprofile/?uname={{ emp.username }}">
                        Update Profile
                    </a>
                </td>
                <td align="center">
                    <a href="/deleteprofile/?uname={{ emp.username }}">
                        Delete Profile
                    </a>
                </td>
                <td align="center">
                    <a href="/login/">
                        Logout
                    </a>
                </td>
            </tr>
        </table>

        {% if profile %}

        <table align="center" border="0">
            <tr><th> Profile </th></tr>
        <tr>
            <td> IDNO : </td>
            <td>
                {{ profile.idno }}
            </td>
        </tr>
        <tr>
             <td> NAME : </td>
            <td>
                {{ profile.name }}
            </td>
        </tr>
        <tr>
             <td> CONTACT NO : </td>
            <td>
                {{ profile.contact }}
            </td>
        </tr>
        <tr>
             <td> SALARY : </td>
            <td>
                {{ profile.salary }}
            </td>
        </tr>
        <tr>
             <td> USERNAME : </td>
            <td>
                {{ profile.username }}
            </td>
        </tr>
        </table>

        {% endif %}

        {% if delete %}
            <form action="/delete/" method="post">
                {% csrf_token %}

            <table align="center">
            <tr>
                <th> Delete Profile </th>
            </tr>
           <tr>
            <td> IDNO : </td>
            <td>
                {{ delete.idno }}
            </td>
        </tr>
        <tr>
             <td> NAME : </td>
            <td>
                {{ delete.name }}
            </td>
        </tr>
        <tr>
            <tr>
                <td>
                    <input type="radio" value="Yes" name="a"> Yes
                </td>
                <td>
                    <input type="radio" value="No" name="a" checked> No
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="uname" value="{{ delete.username }}">
                </td>
                <td>
                    <input type="submit" value="Delete">
                </td>
            </tr>
            </table>

            </form>
        {% endif %}

        {% if update %}
            <form action="/updatedetails/" method="post">
            {% csrf_token %}
            <table align="center">

                <tr><td height="30"  width="250" align="center">
                    <input type="number" readonly placeholder="Idno" name="idno" required value="{{ update.idno }}">
                </td></tr>
                <tr><td height="30"  width="250" align="center">
                    <input type="text" placeholder="Name" name="name" required value="{{ update.name }}">
                </td></tr>
                <tr><td height="30"  width="250" align="center">
                    <input type="number" placeholder="Contact No" name="contact" required value="{{ update.contact }}">
                </td></tr>
                <tr><td height="30"  width="250" align="center">
                    <input type="number" placeholder="Salary" name="salary" required value="{{ update.salary }}">
                </td></tr>
                <tr><td height="30"  width="250" align="center">
                    <input type="text" placeholder="Username" name="username" required value="{{ update.username }}" readonly>
                </td></tr>
                <tr><td height="30"  width="250" align="center">
                    <input  type="password" placeholder="Password" name="password" required value="{{ update.password }}">
                </td></tr>
                <tr><td height="30"  width="250" align="center">
                    <input  type="submit" value="Update">
                </td></tr>
            </table>
        </form>
        {% endif %}
</body>
</html>