<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>payment</title>
</head>
<body>
        <table align="center">
            <tr>
                <th bgcolor="#ff69b4"  width="800px" height="80">
                    Payment Page
                </th>
            </tr>
                <tr>

                <th bgcolor="aqua" width="800px" height="80">
                don't refresh and don't press back  buttons
                </th>
            </tr>
            <tr align="center">
                <td>
                <form action="/logout/" >



                    <input type="submit" value="logout">
                </form>
                </td>
            </tr>
        </table>

</body>
</html>
