<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regidter</title>
</head>
<body>
        <form action="/registered/" method="post">
            {% csrf_token %}
            <table align="center">
                <tr bgcolor="#98fb98">
                    <th > RGISTER</th>
                </tr>
                <tr>
                    <td>
                        <input type="number" placeholder="idno" name="idno" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="name" name="name" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" placeholder="contact" name="contact" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" placeholder="salary" name="salary" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email" placeholder="email" name="email" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="username" name="username" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="password" name="password" required>
                    </td>
                </tr>
                <tr bgcolor="#7fffd4">
                    <td>
                        <input type="submit" value="register">
                    </td>
                </tr>
                <tr bgcolor="#ff7f50">
                    <td>
                        {{ message }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/login/" > Login </a>
                    </td>
                </tr>

            </table>
        </form>

</body>
</html>
