<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table align="center">
            <tr>
                <th height="50">
                    <a href="/register/">
                    Register
                        </a>
                </th>
            </tr>
            <tr>
                <th height="50">
                    <a href="/login/">
                    Login
                        </a>
                </th>
            </tr>
        </table>
</body>
</html>